.box{
    border: 1px solid blue;
    display: grid;
    height: 800px;
    grid-template-columns: repeat(3 , 200px);
    grid-template-rows: repeat(3 , 200px);
    column-gap: 10px;
    justify-content:center;
    align-content: space-around;
    /* justify-items:center ;
    align-items: center; */



}
.item{
    border: 1px solid grey;
    padding: 10;
}

.item1{
    grid-column: 1/span 3;

}
.item2{
    grid-row: 2/span 2;

}

.item4{
  align-self: end;
  justify-self: center;
}
@media  (width < 700px) {
    .box{
         grid-template-columns: repeat(2 , 1fr);
    }
}
@media  (width < 500px) {
    .box{
         grid-template-columns: 1fr;
    }
}